openpyxl
scrapy
futures
selenium
pandas
streamlit
streamlit_authenticator
beautifulsoup4
chrome-version
webdriver-manager
urllib3
aiohttp
asyncio
beautifulsoup4
lxml
nest_asyncio
streamlit_option_menu